.ylakulma{
	float:right;
	margin-top:10px;
	text-align:right;	
}

#syotto_kentat{
	margin-bottom:1em;
}

#sisalto_lohko{
	margin-bottom:2em;
}

.listaus_mobile tbody tr td{
	padding:4px;
}

@media (min-width: 1200px){
	.tuntikirjaus_lohko form{
		margin-top:3.2em;
		
	}
	
	.lisaa_tunteja_button{
		float:right;
	}
	
}

.Virheteksti{
	color: red;
}

h3{
	font-size:20em;
}