.container{
	position:relative;
	padding:2px;
}

.ylakulma{
	float:right;
	margin-top:10px;
	text-align:right;
}

img{
	height:100%;
	width:100%;
	position:fixed;
	opacity:0.1;
}

.tunnityht{
	text-align:center;
}

#syotto_kentat1{
	margin-bottom:1em;
}

#syotto_kentat2{
	margin-bottom:1em;
}

#syotto_kentat3{
	margin-bottom:1em;
}

#syotto_kentat4{
	margin-bottom:1em;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    height: 40px;   
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 5px;
}
	
#sisalto_lohko1{
	margin-bottom:2em;
	float:right;
}
	
#sisalto_lohko{
	margin-bottom:2em;
}

.yht1{font-weight: bold;

	
}

.yht2{font-weight: bold;
	text-align:center;
	
}

.lisaa_tunteja_button{
		float:right;
}

.listaus_mobile tbody tr td{
	padding:4px;
}

@media (min-width: 1200px){
	.tuntikirjaus_lohko form{
		margin-top:3.2em;
		
	}
	
	.lisaa_tunteja_button{
		float:right;
	}
	
}

@media (max-width: 768px){
	
.lisaa_tunteja_button{
		float:right;
	}
	
.ylakulma {
	position:relative;
	}
	
#sisalto_lohko{
	margin-bottom:2px;
	}
	
#sisalto_lohko1{
	margin-bottom:2em;
	float:right;
	width:100%;
	}

}

.Virheteksti{
	color: red;
	
}

.kielet{
	float:right;
	font-size:0.9em;
}

.propsit{
	text-align:center;
	font-size:0.9em;
	position:relative;
}