body{
	background: #abbaab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}  

.container{
	position:relative;
	padding:2px;
}

.ylakulma{
	float:right;
	margin-top:10px;
	text-align:right;
}

.kaksi{
	position:relative;	
	padding-left:20px;
	padding-right:20px;
}

img{
	height:100%;
	width:100%;
	position:fixed;
	opacity:0.05;
}

.tunnityht{
	text-align:center;
}

#syotto_kentat1{
	margin-bottom:1em;
}

#syotto_kentat2{
	margin-bottom:1em;
}

#syotto_kentat3{
	margin-bottom:1em;
}

#syotto_kentat4{
	margin-bottom:1em;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    height: 40px;   
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 5px;
}
	
#sisalto_lohko1{
	margin-bottom:2em;
	float:right;
}
	
#sisalto_lohko{
	margin-bottom:2em;
}

#sisalto_lohko_etuS{
	margin-bottom:100px;
	margin-right:50px;
}

.osa1{
	float:right;
	width:400px;
	margin-bottom:50px;
}

.ylaotsikko{
	margin-top:10%;
}

.osa2{
	float:right;
	width:400px;
	margin-bottom:50px;
}

.yht1{font-weight: bold;
	
}

.katoaa{
	font-weight: bold;
}

.katoaaPvm{
	font-weight: bold;
}

.hKolmonen{
	margin-top:0;
}

.yht2{font-weight: bold;
	text-align:center;
	
}

.lisaa_tunteja_button{
		float:right;
}

.poista-button{
	float:right;
	margin-top:9px;
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
   font-weight: bold;
   text-align:left;
}

.listaus_mobile tbody tr td{
	padding:4px;
}

@media (min-width: 1200px){
	.tuntikirjaus_lohko form{
		margin-top:3.2em;
		
	}
	
	.lisaa_tunteja_button{
		float:right;
	}
	
}

@media (max-width: 1200px){
	.osa1{
	float:left;
	width:100%;
	margin-bottom:50px;
	}
#sisalto_lohko_etuS{
	margin-bottom:30px;
	margin-right:50px;
}

@media (max-width: 570px){
	.katoaa{
	display:none;
}

	.katoaa2{
	display:none;
}
	
}

@media (max-width: 450px){
	.katoaaPvm2{
	display:none;
}

	.katoaaPvm{
	display:none;
}

}

.osa2{
	float:left;
	width:100%;
	margin-bottom:50px;
}	
	
}

@media (max-width: 768px){
	
.lisaa_tunteja_button{
		float:right;
	}
	
.ylakulma {
	position:relative;
	}
	
#sisalto_lohko{
	margin-bottom:2px;
	}
	
#sisalto_lohko1{
	margin-bottom:2em;
	float:right;
	width:100%;
	}
	
.osa1{
	float:left;
	width:100%;
	margin-bottom:50px;
}

.osa2{
	float:left;
	width:100%;
	margin-bottom:50px;
}	

}

.Virheteksti{
	color: red;
	
}

.kielet{
	float:right;
	font-size:0.9em;
}

.propsit{
	text-align:center;
	font-size:0.9em;
	position:relative;
	bottom:0;	
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("img/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}