#syotto_kentat{
	margin-bottom:1em;
}

#sisalto_lohko{
	margin-bottom:2em;
}

@media (min-width: 1200px){
	.tuntikirjaus_lohko form{
		margin-top:3.2em;
		
	}
	
	.lisaa_tunteja_button{
		float:right;
	}
	
}

.Virheteksti{
	color: red;
}